<!-- <ul>
  <% @bookmarker.each do |bookmarker| %>
    <li>
      <li> Bookmark: </li>
      <%= bookmarker.title %>
      <a href="/bookmarkers/<%= bookmarker.id %>">Show</a>

      <a href="/bookmarkers/<%= bookmarker.id%>/edit">Edit</a>
      
      <form method="post" action="/bookmarkers/<%= bookmarker.id%>/delete">
      <button>Delete!</button>
      </form>

    </li>
  <% end %>
</ul> -->

<!-- <a href='/bookmarkers/new'>new bookmarker</a> -->

<form method="get" action="/bookmarkers">
  <input type="text" id="search" name="search">
  <button>Search Bookmarker Name</button>
</form>

<ul>
  <% @bookmarkers.each do |bookmarker| %>
  <li>
    <%= bookmarker.name %>
    <%= bookmarker.title %>
    <a href="/bookmarkers/<%= bookmarker.id %>">Show</a>

    <a href='/bookmarkers/<%=bookmarker.id%>/edit'>Edit</a>
    
    <form action='/bookmarkers/<%=bookmarker.id%>/delete' method='post'>
      <button>Delete</button>
    </form>
  </li>
  <% end %>
</ul>