<a href='/bookmarks/new'>New Bookmark</a>

<form method="get" action="/bookmarks">
  <input type="text" id="search" name="search">
  <button>Search Bookmark Genre</button>
</form>

<ul>
  <% @bookmarks.each do |bookmark| %>
  <li>
    <%= bookmark.genre %>
    <%= bookmark.title %>
    <%= bookmark.url %>
    <a href="/bookmarks/<%= bookmark.id %>">Show</a>
    <a href='/bookmarks/<%=bookmark.id%>/edit'>Edit</a>
    <form action='/bookmarks/<%=bookmark.id%>/delete' method='post'>
      <button>Delete</button>
    </form>
  </li>
  <% end %>
</ul>