<nav>
  <% @bookmarks.each do |bookmark| %>
   <!--  <p>Title:</p><h5><%= bookmark.title %></h5> -->


    <h5>Title: <%= bookmark.title %>; Genre: <%= bookmark.genre %></h5>
    
    
    
    <ul class="button-group">
      <li><a href='/bookmarks/<%= bookmark.id%>' class="button">Show</a></li>
      <li><a href='/bookmarks/<%= bookmark.id%>/edit' class="button">Edit</a></li>
      <li>
      <form action='/bookmarks/<%=bookmark.id%>/delete' method='post'>
        <button>Delete</button>
      </form>

      </li>
    </ul>
  <% end %>
</nav>